<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ contact.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <img [src]=contact.imageUrl alt="{{ contact.name }}" class="img-responsive" style="max-height: 100px;">
      </div>
      <div class="col-xs-6 pull-right">
        <a type="button" class="btn btn-primary btn-md" [routerLink]="['edit']">Edit</a>
        <a type="button" class="btn btn-danger btn-md" (click)="onDelete()">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <strong>Email: </strong> {{ contact.email }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <strong> Phone: </strong> {{ contact.phone }}
      </div>
    </div>
  </div>
  <!--<div class="row">-->

  <!--</div>-->

  <!--<div class="row">-->
  <!--<div class="col-xs-12">-->
  <!--<div class="btn-group">-->
  <!--<button-->
  <!--type="button"-->
  <!--class="btn btn-primary dropdown-toggle">-->
  <!--Manage Contact <span class="caret"></span>-->
  <!--</button>-->
  <!--<ul class="dropdown-menu">-->
  <!--<li><a href="#">Edit Contact</a></li>-->
  <!--<li><a href="#">Delete Contact</a></li>-->
  <!--<li><a href="#">Extra Button</a></li>-->
  <!--</ul>-->

  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!---->
</div>
